.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    background-color: white;
  }

.card img{
    width: 100%;
}

.caption {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.3rem;
    color:rgb(98 84 243);
}

.card_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navlink:link,
.navlink:visited,
.navlink:hover,
.navlink:active{
    color: black;
    font-weight: 500;
}

@media (max-width: 1025px){
    .card h3{
        font-size: 1rem;
    }
}
