.heading{
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 600;
}

.form_container{
    margin: 2rem auto;
    width: 30rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4,auto);
}

.form_container input, textarea{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
}

.form_container input[type="submit"]{
    margin: 1rem auto;
}

.form_container textarea{
    resize: none;
    overflow-y: auto;
}

.form_container input[type='submit']{
    padding: 1rem 2rem;
    font-size: 1rem;
}